<div class="button-box">
  <% if !user_signed_in? %>
    <button class="button"><a href='/users/sign_up'>SIGN UP</a></button>
    <button class="button"><a href='/users/sign_in'>SIGN IN</a></button>
  <% else %>
    <button class="center-button"><a href='/ideas'>Collaborations</a></button>
  <% end %>
</div>
