
<h1>Info</h1>
<div class="info-content">
	<h2>The problem:</h2>
	<ul>
		<li>The low income youth/students have little incentive to persevere and levitate their academic conditions</li>
		<li>Extra curricular activities for the youth has always been centered on sports and outdated programs/activities/services established by collective conscious (community/parents/teachers)</li>
		<li>Student debt, financial literacy and a misunderstanding of the whole essence of “going to school”</li>
		<li>dependence on established role systems and environments for the youth (from graduating and getting a job)</li>
	</ul>

	<h2>Our Solution:</h2>
	<h3>Empower the Youth by:</h3>
	<ul>
		<li>Create a platform where the youth and their ideas, observations and skill sets are given due attention and respect</li>
		<li>A platform where the youth can think of solutions for real life problems that the community (NYC) is undergoing and how they can implement those said solutions in real time with the guidance, logistical help and mentoring of Teachers, Parents, Community Leaders, Public officials  and Corporations.</li>
		<li>Provide a platform where the Group (Students, Teachers, Parents, Community Leaders, Public Officials) can throw some ideas around (as equals), collaborate and execute a mutually agreed upon project.</li>
		<li>Provide a Platform where the group can showcase their achievements and its impact to the community and the project’s direct demographic or recipients.</li>
	</ul>
</div>
