// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-box {
  position: absolute;
  left: 34%;
  top: 50%;
}

.button {
    background-color: black;
    width: 200px;
    height: 70px;
    position: relative;
    margin-right: 30px;
    border-radius: 20px;
    font-size: 30px;
    opacity: 0.6;
    color: white;
}

.center-button {
  left: 37%;
  background-color: black;
  width: 200px;
  height: 70px;
  position: relative;
  margin-right: 30px;
  border-radius: 20px;
  font-size: 30px;
  opacity: 0.6;
  color: white;
}

.button:focus {
  outline: none;
}